.card-seo-linkedin {
  display: block;
  background-color: #eef3f8;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 0;
  color: rgb(0 0 0 / 90%);
  font-weight: 400;
  line-height: 1.5;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue,
    Fira Sans, Ubuntu, Oxygen, Oxygen Sans, Cantarell, Droid Sans, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Lucida Grande, Helvetica, Arial, sans-serif;
  margin-bottom: 16px;
}

.card-seo-linkedin__image-container {
  max-width: 100%;
  width: 100%;
  height: 100%;
  outline-offset: -1px;
  display: flex;
}

.card-seo-linkedin__image-container img {
  position: static;
  top: auto;
  left: auto;
  object-position: center;
  object-fit: cover;
  width: 100%;
  height: 100%;
  background-position: 50%;
  background-size: cover;
}

.card-seo-linkedin__content {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: space-between;
  padding: 8px 12px;
}

.flex-grow-1 {
  flex-grow: 1;
}

.display-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.card-seo-linkedin__content-url {
  margin: 0;
  margin-top: 8px;
  max-height: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgb(0 0 0 / 60%);
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

.card-seo-linkedin__content-url span {
  color: #65676b;
  line-height: 16px;
  font-weight: normal;
  font-size: 12px;
  max-width: 100%;
}

.card-seo-linkedin__content-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 20px;
  max-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  word-break: break-word;
  color: rgb(0 0 0 / 90%);
  font-size: 14px;
  font-weight: 600;
  margin: 0;
}

.card-seo-linkedin__content-title span {
  line-height: inherit;
  font-size: 100%;
}
