.card-seo-twitter {
  align-items: stretch;
  border: 0 solid black;
  box-sizing: border-box;
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  flex-shrink: 0;
  margin: 0;
  min-height: 0;
  min-width: 0;
  padding: 0;
  position: relative;
  z-index: 0;
}

.mb-16 {
  margin-bottom: 16px;
}

.card-seo-twitter__content-container {
  outline-style: none;
  transition-property: background-color, box-shadow;
  transition-duration: 0.2s;
  border-color: rgb(47, 51, 54);
  border-radius: 16px;
  overflow: hidden;
  border-width: 1px;
  border-style: solid;
  background-color: black;
}

.card-seo-twitter__image-container {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgb(47, 51, 54);
  /* display: block; */
  position: relative;
}

.card-seo-twitter__image-container img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: black;
  height: 100%;
  width: 100%;
  /* position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; */
  inset: 0px;
}

.card-seo-twitter__content {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  justify-content: space-between;
  outline-style: none;
  transition-property: background-color, box-shadow;
  transition-duration: 0.2s;
  flex-grow: 1;
  flex-direction: row;
}

.card-seo-twitter__content-container--inner {
  padding-top: 12px;
  padding-bottom: 12px;
  justify-content: center;
  flex-shrink: 1;
  flex-grow: 1;
  padding-left: 12px;
  padding-right: 12px;
}

.card-seo-twitter__content-url__container {
  color: rgb(110, 118, 125);
  font-weight: 400;
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  line-height: 20px;
  overflow-wrap: break-word;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-seo-twitter__content-url {
  font-family: inherit;
  overflow-wrap: break-word;
  min-width: 0px;
  margin: 0;
  padding: 0;
  display: inline;
}

.card-seo-twitter__content-url span {
  /* color: #65676b;
  line-height: 1.2308;
  font-weight: normal;
  font-size: 0.8125rem;
  max-width: 100%; */
}

.card-seo-twitter__content-title {
  margin-bottom: 2px;
  font-weight: 400;
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  line-height: 20px;
  overflow-wrap: break-word;
  min-width: 0px;
  color: rgb(217, 217, 217);
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: 0 solid black;
  box-sizing: border-box;
  display: inline;
  font: 14px -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.card-seo-twitter__content-title span {
  font-family: inherit;
  overflow-wrap: break-word;
  min-width: 0px;
  color: inherit;
  font: inherit;
  white-space: inherit;
  border: 0 solid black;
  box-sizing: border-box;
  display: inline;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
}

.card-seo-twitter__content-description__container {
  margin-bottom: 2px;
}

.card-seo-twitter__content-description {
  color: rgb(110, 118, 125);
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  overflow-wrap: break-word;
  min-width: 0px;
  display: -webkit-box;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;

  border: 0 solid black;
  box-sizing: border-box;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  white-space: pre-wrap;
}

.card-seo-twitter__content-description span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  overflow-wrap: break-word;
}
