.card-seo-facebook {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  margin-bottom: 16px;
}

.card-seo-facebook__content {
  border: 1px solid #ededed;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  background-color: #f0f2f5;
  padding: 4px 16px;
  margin: 0 -6px;
}

.card-seo-facebook__content-url {
  display: block;
  margin-bottom: 4px;
  text-transform: uppercase;
}

.card-seo-facebook__content-url span {
  color: #65676b;
  line-height: 1.2308;
  font-weight: normal;
  font-size: 0.8125rem;
  max-width: 100%;
}

.card-seo-facebook__content-title {
  max-height: calc(1em * (20 / 17) * 2);
  margin-top: -4px;
  margin-bottom: -4px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 1.0625rem;
  display: block;
}

.card-seo-facebook__content-title span {
  color: #000000;
  line-height: 1.1765;
  word-wrap: break-word;
  font-weight: 600;
  text-align: left;
}

.card-seo-facebook__content-description {
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 1.0625rem;
  display: block;
  position: relative;
}

.card-seo-facebook__content-description span {
  word-break: break-word;
  color: #65676b;
  font-weight: normal;
  font-size: 0.9375rem;
  text-align: left;
  line-height: 1.3333;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
}
